@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="text-center">
        Welcome to our in-class eCommerce project site! 
        <span class="badge badge-secondary">CPW 213</span>
    </h2>
    <br />

    <h3>This in-class project will give us practice with:</h3>

    <ul class="list-group-item-info">
        <li>Source Control using Github</li>
        <li>Using ASP.NET Core MVC</li>
        <li>Using EntityFramework Core</li>
    </ul>

    <h3>
        Visit the Github page for this project here: 
        <a href="https://github.com/AlgidPenguin/CPW213-eCommerceSite" class="btn btn-info" target="_blank">Github</a>
    </h3>
    

</div>
